body {
  background-color: Black;
}

body ul li {
  color: White;
  
}

h1 {
  color: White;
  float: left;
  padding-right: 100%;
  padding-bottom: 1%;
}

h2 {
  color: White;
  margin-left: 20%;
}

p {
  color: White;
  margin-left: 2em;
}

#main-navbar {
  background-color: red;
  overflow: hidden;
  float: left;
  position: relative;
}

#navbar-container{
  width: 100%;
  position: fixed;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #FFFFFF;
  text-decoration: underline overline;
}

.center {
  text-align: center;
  border: 3px solid green;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

@media only screen and (max-width: 1000px) and (min-width: 600px){
	.index-title{
  		font-size: 20px;
    	padding: 5px;
    	border: 2px black;
    	background: white;
    	text-align: center;
	}
}
@media only screen and (max-width: 700px) {.header-class{
   		width: 50%;
    	text-align:center; 
    	margin: 2px;
  		padding: 1px;
      text-align: center;
  	}
}
